<IfModule mod_mime.c>
    AddType application/javascript .js .mjs
    AddType application/wasm .wasm
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # ✅ STOP Laravel ganggu Flutter folder
    RewriteRule ^live-attendance/ - [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Laravel fallback
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>